div p s {
    color: hsla(298, 61%, 38%, 0.965);
}

div{
    border-style:dotted;
    border-color: blue;
    
} 
.resaltado{
    background-color: blueviolet;
}

#importante{
    background-color: tomato;
}

.resaltado p{
    color: purple;
}